<div class="article">
	<cg-diapo></cg-diapo>

	<cg-header id="shonen-tabletop-analysis"></cg-header>

	<div class="article-content">

		<h3>To begin with: what's a shonen?</h3>

		<p>Shonen is a kind of manga focused on action, humor, and friendship between several characters of the same group (pirates, ninjas, soccer players, etc.). Main characters often have the objective of becoming stronger, or simply of becoming the best at what they do (even if it ain't nice).</p>

		<p>All the main characters (heroes and villains) have powers and skills related to the setting: soccer special kicks, ninja powers, martial arts techniques, etc. Those powers often are related to the character's personality. Moreover, characters often have an important weakness.</p>

		<p>Heroes in Shonen win because of hard work and perserverance. Either they practice a lot (Hajime no Ippo), or never give up (One Piece), but often it's both (Dragon Ball). They are loyal and honest, and sneaky characters, or characters with personality flaws, are more likely to lose. Often "the power of friendship" is what allows characters to win.</p>

		<p>Shonen are made mostly of combat - or rather, conflict. This can be through actual fights, but also through sports or cooking contests. On the other hand, those fights are not based on realism: range, movement, ammo, are forgotten in favor of the infamous <a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/RuleOfCool" target="_blank">Rule of Cool</a>.</p>

		<p>Techniques often have a Rock/Paper/Scissor mechanism, with some techniques automatically winning/losing against others.</p>

		<p>A conflict often follows the same progression:</p>

		<ul>
			<li>The villain has an invincible super powerful technique.</li>
			<li>The hero is getting his ass kicked because of that invincible technique</li>
			<li>None of his usual tricks work</li>
			<li>The bad guy laughs like a bad guy and keeps using his technique</li>
			<li>The bad guy does a bad guy thing such as hurting's the hero's friends, or making fun of his dreams.</li>
			<li>The hero gets angry and develops a new technique, or a new way to use an old technique, which allows him to defeat the bad guy.</li>
		</ul>

		<p>I'm not saying every fight has to happen that way during the game (which would be boring for everyone), but a system that makes fights tend to happen that way would be great.</p>

		<p>Finally, Shonen features Ultimate Techniques, as well as transformations of increasing power.</p>

		<p>So now, let's go over some tabletops which can fulfill those criteria (or pretend to):</p>

		<cg-figure src="articles/shonen-tabletop-analysis/mhr-cover.jpg" caption=""></cg-figure>

		<h3>Marvel Heroic Roleplaying</h3>

		<p>One of my all time favorite, as <a ui-sref="mhr-hack-affil">mentioned previously</a>. Already based on modeling comics, very narrative-focused, you could <em>almost</em> use it as is.</p>

		<h4>Advantages</h4>

		<ul>
			<li>Distinctions mean a character's personality will have a direct impact on the game mechanics</li>
			<li>Powers are modular and varied</li>
			<li>SFXs add even more variety</li>
			<li><em>Very</em> flexible on the description side</li>
			<li>Assets created by other PCs represent well team efforts or the whole "power of friendship" thing</li>
			<li>Free description + SFX + Stunts can cover Super Techniques</li>
		</ul>

		<h4>Issues</h4>

		<ul>
			<li>Specialties are rather useless, considering how Shonen are focused on one skill, maybe two (Combat, Athletics)</li>
			<li>Affiliations would also be a bit useless, considering Shonen is built around duels, and a character would then just be Solo all the time</li>
			<li>The more a character is injured, the more difficult it is for him to act - which is the opposite of how Shonen work</li>
			<li>Powers could be repetitive. While in comics, there is a huge variety of powers, in something like Dragonball or Captain Tsubasa, everyone would just have some combination of Strength, Reflexes, or Blast.</li>
			<li>No "Rock/Paper/Scissor" effect at all, except specific Weaknesses/Immunities. Everything is effective against everything. The GM can decide that some kinds of attacks are super effective or ineffective against this or that attack, but it can become very arbitrary.</li>
			<li>Nothing for transformations</li>
		</ul>

		<h4>Possible modifications</h4>

		<ul>
			<li>Affiliations could be replaced with Approaches, in a FAE way (Careful, Clever, Flashy, Forceful, Quick, Sneaky)</li>
			<li>Adding your own Stress to your pool doesn't cost a PP. Using the opponent's stress cost 1PP</li>
			<li>Powers would have to be redefined for each setting. For example, in Captain Tsubasa, the Powers would be "Kick d8, Guard d10, Dribble d8, Speed d8" (totally copied that from Inazuma Eleven)</li>
			<li>Similarly, a "Rock/Paper/Scissor" effect could be achieved by having some powers being automatically Step-up or Step-Down against their opposite (for example, Waterbending d8 would become Waterbending d10 against a Firebender)</li>
			<li>Transformations can be handled by having them double or triple Affiliations. Our playtests showed that it works, but has some issues (less variations of the end results). Another possibility would be to increase the number of dice kept.</li>
		</ul>

		<p><b>Verdict:</b> Strong potential, but ultimately would require a lot of houseruling to work - hence, probably not our best candidate.</p>

		<cg-figure src="articles/shonen-tabletop-analysis/fate-cover.jpg" caption=""></cg-figure>

		<h3>Fate Core/Accelerated</h3>

		<p>Another one of my big favorites. Where MHR is modeling comics, you could say Fate is modeling movies and novels.</p>

		<h4>Advantages:</h4>

		<ul>
			<li>Aspects mean character's personality have an effect on mechanics</li>
			<li>Easy to model items and allies</li>
			<li>Fate Accelerated's Approaches (Careful, Clever, Flashy, Forceful, Quick, Sneaky) fit pretty well the Shonen mindset</li>
			<li>The system is <em>very</em> easy to adapt and modify</li>
			<li>Large freedom of description</li>
		</ul>

		<h4>Issues:</h4>

		<ul>
			<li>Powers are simply an extension of "Aspects as a permission" and a skill. For example, Luffy would have the "Gumigumi fruit powers" Aspect which allows him to describe a variety of actions done through stretching his body, and occasionally gives him a +2 to his actions. While it's a good way to streamline actions, it can become quite repetitive on a long campaign.</li>
			<li>Related to the previous point, it can be difficult to implement "special techniques". Either the player can make a normal roll and describe it as a Pegasus Meteor Fist!, without any special benefits, or the group can make special Stunts for each Techniques, but it quickly becomes pretty messy.</li>
			<li>Again, no "Rock/Paper/Scissors" mechanic</li>
		</ul>

		<h4>Modifications:</h4>

		<ul>
			<li>Not a lot. Most of what is an issue in adapting Fate to Shonen is a central part of Fate.</li>
			<li>Some Fate adaptations have super powers systems that could be easily used (for example <a href="http://www.drivethrurpg.com/product/131765/ICONS-Superpowered-Roleplaying-The-Assembled-Edition" target="_blank">Icons</a>)</li>
			<li>One option used in some systems can be used for transformations / power levels: for each level difference, the higher level character can replace one of his Fate dice with a normal d6 (with results between 1 and 6 rather than between -1 and 1).</li>
		</ul>
		<p><b>Verdict:</b> Unfortunately, Fate as it is seems not a great fit for modeling Shonen stories. On a sidenote though, it works <em>great</em> to do side events such as "normal" characters participating to a cooking contest or a soccer competition.</p>

		<cg-figure src="articles/shonen-tabletop-analysis/shards-cover.jpg" caption=""></cg-figure>

		<h3>Exalted Burn Legend</h3>

		<p>Exalted Burn Legend is a spin-off of Exalted available in Exalted Shards. It is designed to model fighting games characters and their interactions, and features several interesting mechanics.</p>

		<h4>Advantages:</h4>

		<ul>
			<li>During a fight, each player secretly chooses which of his techniques his character will use for this round. They are then revealed at the same time. This represents well the whole "I didn't expect this attack!" trope.</li>
			<li>Each technique has one of several tags (Aerial, Throw, Ranged, etc.). Some tags automatically win against others, with for example Aerial techniques automatically winning against Ranged techniques. This is awesome to model the Rock/Paper/Scissor we were talking about.</li>
			<li>Characters have an Overdrive bar that fills when they get it, and which allow them to use Super Techniques. This fits well the "the more a character is hurt, the stronger he gets" trope.</li>
		</ul>

		<h4>Issues:</h4>

		<ul>
			<li>The techniques used are very specific and would be very difficult to reskin - and creating new ones would be even worse. This is currently the biggest limitation, as it means you cannot do anything else than brawling characters. While it is not a problem for some Shonen (Kenichi), it can make it impossible to use for most settings/series out there.</li>
			<li>Characters' personality have no impact on the game's mechanics.</li>
			<li>No teamwork possible at all.</li>
		</ul>

		<h4>Possible modifications:</h4>

		<ul>
			<li>As it is, I seriously don't know. The system is a great fighting game simulator, which is already quite a feat, but it would be very difficult to use it for anything else.</li>
		</ul>

		<p><b>Verdict:</b> Absolutely perfect if you want to do something based on martial artists fighting each other (Kenichi, Tenjo Tenge, Tekken...), probably very inadapted for anything else.</p>

		<cg-figure src="articles/shonen-tabletop-analysis/shonen-cover.jpg" caption=""></cg-figure>

		<h3>Shōnen Final Burst</h3>

		<p>I first found this game by accident, but didn't really pay much attention because it used playing cards and had an ugly layout.</p>

		<p><em>Side note: dear original author, no offense, but I will mention several times during this post that the layout is unattractive. I really like the game , but I think this specific point really hurts it. Right now, Shonen Final Burst is an ugly person with a great personality. I would really <em>really</em> suggest to redo the design, or hire a designer or something. You got a diamond in the rough, find a way to remove the "in the rough"</em></p>

		<p>However, in order to write this post, I couldn't ignore this game (I mean, it has Shonen right there in its name), and I forced myself to read it.</p>

		<cg-figure src="articles/shonen-tabletop-analysis/mind-blown.jpg" caption="and then..."></cg-figure>

		<p>It was awesome.</p>

		<p>Shonen Final Burst is a game made to simulate duels between two characters. It uses playing cards.</p>

		<p>Each Character has several elements. First are attributes (Mind, Strength, etc). Each of these Attributes is resisted by one of the opponent's Attributes, and this repartition is unique for each Character. For example, one character could have his Strength attacks be resisted by the opponent's Mind, whereas another character would have his Strength attacks resisted by the opponent's Quickness.</p>

		<p>The character also has 4 of the Game 15 different Techniques such as Fire, Gadgets, or Martial Arts. Those techniques are all very different, and allows for very unique characters. They can also be easily reskinned to fit even more concepts. For example, two characters could use the Water technique to model Luffy or Juvia from Fairy Tail without it being particularly shocking. These Techniques also give access to Super Techniques (very powerful attacks, but difficult to cast) and Transformations (allows the character to use more cards, boosts his attributes). They are fueled by Power Points, that you earn by winning fights and getting injured (see below).</p>

		<p>Each character also has an Archetype ("Optimistic Hero", "Guy with glasses"), Allies ("My sensei", "My little sister"), and Gimmicks (elements important enough to have a mechanic effect, but not important enough to be techniques, such as race, or magic items). All of those can be invoked to give a small bonus during fights.</p>

		<p>Combat is mostly built around duels. During a fight, each players draws a specific amount of cards and secretly chooses which to use for this round. They are then revealed simultaneously. The results are modified by each character's Attributes and Techniques, and each character takes Wounds. The more wounded a character is, the stronger they gets (bonus Power Points, more cards per round, etc). Finally, there is a Boss mechanic for really big bad guys. Boss are only vulnerable to team attacks, and need to be fought by all characters simultaneously.</p>

		<p>Finally, a campaign is divided into Arcs, which are a typical element of the Shonen genre (i.e. Impel Down Arc, Frieza Arc, Soul Society Arc, etc). The way Arcs are handled is pretty smart. Characters gain a Technique rank after every fight. This also unlocks additional Super Techniques and Transformations. At the end of an Arc, a character is <em><em>supposed</em> </em>to have reached maximum Rank in all of his techniques. It doesn't mean that characters cannot improve after their first Arc: at the beginning of the next Arc, the character starts again at Rank I everywhere. Does it mean a character becomes a beginner character again? Nope. But it represents the fact that in the new Arc, what was the strongest level for that character is now barely the expected minimum.</p>

		<p><b>Example:</b> Goku becomes a Super Saiyan for the first time at the end of the Frieza arc. We can assume this is his Rank 3 Transformation at the time. However, when the next Arc starts, being a Super Saiyan is now barely a Rank 1 transformation, and necessary to fight most enemies. Finally, during the later Arcs, being a Super Saiyan 1 isn't even considered a Transformation anymore, and is simply the 'default state' for the character.</p>

		<p>It's a pretty smart mechanic, in that it allows for constant power escalation from a narrative point of view (you can easily reach Gurren Lagann's galaxy-wielding giant robots levels of power), but without making the mechanical aspects of the game impossible to manage. It also doesn't mean that a character doesn't Evolve at all. By finishing Arcs, a character will gain stronger allies, will be able to invoke them more often, will get more Gimmicks, and so on. It is also possible for the player to change cards in his deck, for example to focus on one specific suit.</p>

		<p>And for those being worried about playing over and over the same character progression, it should be noted that characters are not static. It is completely possible to modify the character between Arcs, for example switching his Attributes, or even changing his Techniques (maybe he was focused on Brute power until now, but his new Transformations use a lot of Energy Blasts ).</p>

		<h4>Avantages:</h4>

		<ul>
			<li>Like in Exalted Burn Legend, players choose which cards they use on their attacks, which allows for suspense and unexpected attacks</li>
			<li>Attributes and Styles mean that every character got his own fighting style, and there is a Rock/Paper/Scissor effect</li>
			<li>Using cards is a good way to have this "fighting bluff" moment so common in Shonen fights</li>
			<li>Archetypes mean personality has a mechanical effect</li>
			<li>Allies mean that relationships have a mechanical effect</li>
			 <li>There are Super Techniques, created by the players themselves, and activated by Power Points. Characters gain Power Points by winningfights and getting injured.</li>
			<li>The more a character is injured, the stronger he gets: more Power Points, more cards to draw from, and so on. <em><em>Really</em></em>stronger.</li>
			<li>There are Transformations, created by players, and activated through Power Points. Each Transformation has several levels, becomingmore and more powerful with each increase.</li>
			<li>The game is built to play duels between characters.</li>
			<li>There is a "Boss" mechanic for the Big Bad Guy at the end of an Arc. Those Bosses have to be fought as a team, via team attacks.</li>
		</ul>

		<h4>Issues:</h4>

		<ul>
			<li>The book is damn ugly.</li>
			<li>Trump cards have lower usability than dice in my opinion</li>
			<li>Really, the book is ugly.</li>
			<li>I have done only a short scenario for now, which was really fun and really <em>felt</em> like a Shonen. My main worry would be that the game gets really repetitive after a while, since it revolves a LOT around fighting. If you have read <a href="http://thealexandrian.net/wordpress/15126/roleplaying-games/game-structures" target="_blank">the Alexandrian's great essay about game structures</a>, you can see how it would be an issue (and maybe, unlike me, you can see how to fix it). This might depend a lot on players and GMs, and on how confortable they are with having absolutely no rules outside of fighting.</li>
			<li>The book. It's ugly.</li>
		</ul>

		<p><b>Verdict:</b> Really strong contender, if you manage to endure the book layout and to adapt to the game's original structure.</span>

		<cg-figure src="articles/shonen-tabletop-analysis/others.jpg" caption=""></cg-figure>

		<h3>Other candidates</h3>

		<p><a href="http://www.legrog.org/jeux/devastra" target="_blank">Devastra</a> aims at doing Shonen. However, it ends up being quite standard, with only a Hero Point-like rule to simulate Shonen style.</p>

		<p><a href="https://en.wikipedia.org/wiki/Exalted" target="_blank">Exalted</a> has a lot of potential, but in the end is way too crunchy for what we want to do. When you're restricted by move distance, rounds, number of actions, range of weapons, and so on, it is hard to replicate the random epicness of Shonen.</p>

		<p><a href="http://www.drivethrurpg.com/product/24482/BESM-Big-Eyes-Small-Mouth-3rd-Edition?it=1" target="_blank">BESM</a> is, thematically, right in the anime ballpark. You can easily replicate most characters without any major issue, and it has been one of my favorites for a long time. The problem is that once you start playing, it becomes very basic, very similar to a standard RPG - and you miss all the narrative elements of a Shonen. Good as a backup, but unfortunately not a main contender. </p>

		<p><a href="https://www.drivethrurpg.com/product/133493/OVA-The-Anime-RolePlaying-Game" target="_blank">OVA</a> and <a href="http://www.drivethrurpg.com/product/128931/Double-Cross-Roleplaying-Game-Core-Rulebook">Double Cross</a> seem to have the same pros/cons as BESM, even though I have to admit I haven't read them completely yet (edit: I have since then, and stand by my point).</p>

		<p><a href="https://pokemontabletop.com" target="_blank">Pokemon Tabletop United</a>. Definitely not relevant to do Shonen, but the concept is so awesome I'm mentioning it anyway. Also, The books are incredibly beautiful, especially considering it's fanmade (just saying, Shonen Final Burst guy). And honestly I could see it happen.</p>

		<p>Finally, <a href="http://www.maidrpg.com/" target="_blank">Maid RPG</a>. If you've never played it, give it a try, it's a lot better than you may think. You can definitely make a Shonen-like game. You have personalities, you have ridiculous attacks, you've got a "we don't bother with details" system. But, well... It's Maid RPG. While I think it's one of the best convention/travel games out there, it's not for everyone.</p>

	</div>
</div>